{% extends "base.html" %}

{% block content %}
<div class="container" >
    <div class="spacer-lrg">&nbsp</div>
    <div class="spacer-lrg">&nbsp</div>
    <div class='row'>
        <div class='three columns'><a href='contacts.html'><button class='button-primary'>Contact List</button></a></div>
        <div class='nine columns'>
        Setup contact list to support This Robot AI software functionality like email alerts, making phone calls, and more. 
        Note that contacts saved with a value of TRUE in the White List field can call in automatically when the Phone sensor is running.
        </div>
    </div>
    <div class="spacer-lrg">&nbsp</div>
    <div class="spacer-lrg">&nbsp</div>
    <div class='row'>
        <div class='three columns'><a href='config.html'><button class='button-primary'>Configuration</button></a></div>
        <div class='nine columns'>
        Configuration settings for This Robot AI software on your Raspberry Pi. Note that most settings require a reboot for the changes to be applied.
        Configure sensors to be active or not, set your preferred voice, enter your User Name (Subscriber ID) and token for access to This Robot AI website. 
        </div>
    </div>
</div>
{% endblock %}